body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

h1 {
    color: black
}

article {
    color: black;
    padding: 10px;
    background-color: aqua;
    margin : 10px;
    /* flex: 200px; */
    flex: 1 100px;
}

article:nth-of-type(2) {
    background-color: rgb(127, 208, 255);
    flex: 1;
}

article:nth-of-type(3) {
    background-color: aquamarine;
    flex: 2;
}

article > div#container{
    display: flex;
    flex-flow: row wrap;
}

article > div#container > button {
    flex: 150px;
    margin: 10px;
    padding: 10px;
    font-size: large;
}

article:nth-of-type(3) > div:nth-child(1) {
    background-color: yellow;
}

article:nth-of-type(3) > div:nth-child(2) {
    display: flex;
}





/* 

Flexbox

Isso torna o section um flex container, 
o que significa que seus filhos diretos (os elementos article) 
se tornam flex items.

*/
section {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: space-around; */
}