<html>
    <head>
        <title>FlexBox0</title>
        <link rel="stylesheet" href="flexbox0.css" />
    </head>
    <body>
        <header>
            <h1>Sample FlexBox Example</h1>
        </header>
        <section>
            <article>
                <h2>Primeira Seção</h2>
                <p>
                    O flexbox também tem uma funcionalidade para alteração da ordem dos elementos flex no layout, sem afetar a ordem no código fonte HTML. Esta é mais uma coisa que é impossível fazer nos métodos tradicionais de esquema de layouts.

O código para fazer isso é bem simples: experimente adicionar o seguinte CSS ao final do código do exemplo da barra de botões:
                </p>
            </article>
            <article class="segundo">
                <h2>Segunda Seção</h2>
                <p>
                    O flexbox também tem uma funcionalidade para alteração da ordem dos elementos flex no layout, sem afetar a ordem no código fonte HTML. Esta é mais uma coisa que é impossível fazer nos métodos tradicionais de esquema de layouts.

O código para fazer isso é bem simples: experimente adicionar o seguinte CSS ao final do código do exemplo da barra de botões:
                </p>
            </article>
            <article id="terceiro">
                <h2>Terceira Seção</h2>
                <p>
                    O flexbox também tem uma funcionalidade para alteração da ordem dos elementos flex no layout, sem afetar a ordem no código fonte HTML. Esta é mais uma coisa que é impossível fazer nos métodos tradicionais de esquema de layouts.

O código para fazer isso é bem simples: experimente adicionar o seguinte CSS ao final do código do exemplo da barra de botões:
                </p>
            </article>
            <article>
                <h2>Quarta Seção</h2>
                <p>
                    O flexbox também tem uma funcionalidade para alteração da ordem dos elementos flex no layout, sem afetar a ordem no código fonte HTML. Esta é mais uma coisa que é impossível fazer nos métodos tradicionais de esquema de layouts.

O código para fazer isso é bem simples: experimente adicionar o seguinte CSS ao final do código do exemplo da barra de botões:
                </p>
            </article>
            <article>
                <h2>Quinta Seção</h2>
                <p>
                    O flexbox também tem uma funcionalidade para alteração da ordem dos elementos flex no layout, sem afetar a ordem no código fonte HTML. Esta é mais uma coisa que é impossível fazer nos métodos tradicionais de esquema de layouts.

O código para fazer isso é bem simples: experimente adicionar o seguinte CSS ao final do código do exemplo da barra de botões:
                </p>
            </article>
            <article>
                <h2>Sexta Seção</h2>
                <p>
                    O flexbox também tem uma funcionalidade para alteração da ordem dos elementos flex no layout, sem afetar a ordem no código fonte HTML. Esta é mais uma coisa que é impossível fazer nos métodos tradicionais de esquema de layouts.

O código para fazer isso é bem simples: experimente adicionar o seguinte CSS ao final do código do exemplo da barra de botões:
                </p>
            </article>
        </section>

    </body>
</html>